<h1>Daily plan goes here</h1>
<table>
<% @plan.items.each do |item| %>
	<tr class="food-item">
		<td><%= item.name %></td>
		<td><%= item.total_protein%></td>
		<td><%= item.total_calories%></td>
	</tr>
<% end %>
</table>
